---
title: Earthquake Detection
layout: default
description: ""
header-img: "img/seismograph.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<script type="text/javascript">
  function setImage(select){
    var image = document.getElementsByName("image-swap")[0];
    image.src = select.options[select.selectedIndex].value;
}
</script>

<div class="container">
	<div class="row">
		<div class="col-lg-8 ">
      <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vShpPT7UiAsxp3JLq_7af5vaF46iwBuKNdkiGMXyA6MURner578EOS9RUDW98nd0vstrrk9RsbGV2Dn/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1200" height="936" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
  	</div>
  <div class="row">
      <div class="col-lg-8 ">
      <select class="custom-select">
        <option selected>Open this select menu</option>
        <option value="/img/ODC.png">One</option>
        <option value="/img/HypoDD.png">Two</option>
        <option value="/img/ODC.png">Three</option>
      </select>
      <img src="" name="image-swap" />

        <figure class="figure">
          <img src="/img/ODC.png" class="figure-img img-fluid z-depth-1"
            alt="..." style="width: 400px">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>

      <!-- <center><embed src="/img/combinepdf.pdf" width="1200" height="1200"  type="application/pdf"></center> -->
      <iframe src="/ActivePlots/df_ODC.html" style="width: 1200px; height: 750px;" style="border: 2px solid blue;"></iframe>
		</div>
	</div>
</div>
